<h3>{{ name }}</h3>

<ul class="project-details-text list-unstyled">
  <li><label>Address</label><span>{{ address }}</span></li>
  <li><label>Area</label><span>{{ area }}</span></li>
  <li><label>Typology</label><span>{{ typology }}</span></li>
  <li><label>Category</label><span class="category {{ category }}">{{ category }}</span></li>
</ul>